.navbar-cont {
    // border: 2px solid red;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    bottom: 0px;
    z-index: 1;
    padding: 20px;
    margin-bottom: 2rem;
    min-height: 10vh ;
    padding-bottom: 1rem;
    position: relative;

    .navbrand{
        // margin-left: 2rem;
        background-color: #fff !important;
        // border: 2px solid red;

        
        h1{
            font-weight: bold;
            // border: 1px solid aqua;
            padding: 3px;
        }
        span{
            color: aqua;     
        }
    }   
    .menu-icon{
        display: none;
    }


    .nav-items{
        // margin-right: 10px;
        background-color: #fff;
        // border: 2px solid red;
        position: relative;

        ul{
            list-style-type: none;
            background-color: #fff;
            color: #000;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;

            li {
                margin-right: 2rem;
                margin-top: 5px ;
                padding: 10px;
                background-color: aqua;
     
                .navbarlink{
                    text-decoration: none;
                    // color: #000;
                    color: #fff;
                    padding: 10px;
                    font-weight: bold;
                }
            }
        }
       

    }
   

}


@media screen and (max-width:700px) {

   .navbar-cont{

    .menu-icon{
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;

        .baricon{
            font-size: 50px;
            border-radius: 50px;
            transition: all 0.5 ease;
            // border: 2px solid red;
        }
    }

    .nav-items{
        display: none;
    }
    
    

    .nav-items-active{
        // border: 2px solid aqua;
        position: absolute;
        top: 90px;
        left: 0px;
        // height: 100vh;
        display: block;
        opacity: 2; 
        width: 100%;
        transition: all 0.5 ;

        .nav-items-block{
            list-style-type: none;
            list-style: none;
            :hover{
                background-color: aqua;
                transition: all 0.5s ease;
                cursor: pointer;
            }

            li{
                padding: 1rem 5px ;
                // border: 2px solid red;
                margin: 0px;

                :hover{
                    // background-color: #3c3c3c;
                    cursor: pointer;
                    width: 100%;
                }
                a{
                    text-decoration: none;
                    padding: 10px;
                    color: #000;
                    background-color: #fff;
                    :hover{
                        display: block;
                        background-color: black !important ;
                    }
                }
                
            }
            
        }
    }
   } 
}
