.search {
  padding: 20px;
  background-color: #000;

  form {
    padding: 20px;

    input {
      padding: 10px;
      background-color: transparent;
      border-style: none;
      border-bottom: 1px solid aqua;
      outline: none;
      width: 300px;

      ::placeholder {
        color: #fff;
        font-size: 30px;
      }

      input:active {
        background-color: #fff !important;
        color: #fff !important;
      }
    }

    button {
      background-color: aqua;
      padding: 10px;
      border-style: none;
      width: 150px;
    }
  }
}
